# ðŸ›  Blinkit Dataset Cleaning Project

## Step 1: Project Introduction

#### Objective:
- The goal of this project is to perform data cleaning on the Blinkit dataset to prepare it for further analysis and visualization.
- The cleaned dataset will be used in a separate Power BI dashboard project.

#### Tools Used:
- Python
- Jupyter Notebook
- Libraries: pandas, numpy

## Step 2: Import Libraries

In [3]:
# Importing essential libraries
import pandas as pd
import numpy as np

## Step 3: Load the Dataset

In [4]:
# Loading the dataset
import os
os.chdir(r'F:\1. STARTING YEAR_2024\1. DATA_ANALYST\7. PORJECTS\PORTFOLIO\1. DATA_PROJECT\1. POWER_BI\3. BLINKIT PROJECT\1. EXCEL_FILE')
df=pd.read_excel('Blinkit_Dataset.xlsx')

In [5]:
# Displaying the first five rows
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility_Percentage,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.02,Dairy,249.81,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.14
1,DRC01,5.92,Regular,0.02,Soft Drinks,48.27,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.42
2,FDN15,17.50,Low Fat,0.02,Meat,141.62,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.27
3,FDX07,19.20,Regular,0.00,Fruits and Vegetables,182.10,OUT010,1998,NaN,Tier 3,Grocery Store,732.38
4,NCD19,8.93,Low Fat,0.00,Household,53.86,OUT013,1987,High,Tier 3,Supermarket Type1,994.71

## Step 4: Initial Data Analysis

In [6]:
# Checking the shape of the dataset
print("Shape of the dataset:", df.shape)

Shape of the dataset: (1559, 12)

In [7]:
# Getting information about columns and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1559 entries, 0 to 1558
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Item_Identifier             1559 non-null   object
 1   Item_Weight                 1305 non-null   float64
 2   Item_Fat_Content            1559 non-null   object
 3   Item_Visibility_Percentage  1559 non-null   float64
 4   Item_Type                   1559 non-null   object
 5   Item_MRP                    1559 non-null   float64
 6   Outlet_Identifier           1559 non-null   object
 7   Outlet_Establishment_Year   1559 non-null   int64
 8   Outlet_Size                 1103 non-null   object
 9   Outlet_Location_Type        1559 non-null   object
 10  Outlet_Type                 1559 non-null   object
 11  Item_Outlet_Sales           1559 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 146.3+ KB

In [8]:
# Checking for missing values
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 Item_Identifier                 0
Item_Weight                   254
Item_Fat_Content                0
Item_Visibility_Percentage      0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                   456
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
# Checking for duplicate rows
print("\nDuplicate Rows:", df.duplicated().sum())

Duplicate Rows: 0

In [10]:
# Basic statistical summary
df.describe()

,Item_Weight,Item_Visibility_Percentage,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,1305.000000,1559.000000,1559.000000,1559.000000,1559.000000
mean,12.804567,0.065606,140.966434,1997.817191,2192.905279
std,4.628861,0.049954,62.082356,8.332658,1689.872865
min,4.555000,0.000000,31.290000,1985.000000,37.280000
25%,8.680000,0.030000,94.015000,1987.000000,864.210000
50%,12.600000,0.050000,142.280000,1999.000000,1813.640000
75%,16.750000,0.090000,185.370000,2004.000000,3047.035000
max,21.350000,0.300000,265.220000,2009.000000,11445.100000

## Step 5: Data Cleaning

#### 5.1 Handling Missing Values

In [11]:
# Lambda function to fill in missing values in one single step.
df=df.apply(lambda x:x. fillna(x.mean() if x.dtype=='float'else x.fillna (x.value_counts().index[0])))

In [12]:
# Review the dataset again after completing the process of filling in any missing values.
df.isnull().sum()

Item_Identifier               0
Item_Weight                   0
Item_Fat_Content              0
Item_Visibility_Percentage    0
Item_Type                     0
Item_MRP                      0
Outlet_Identifier             0
Outlet_Establishment_Year     0
Outlet_Size                   0
Outlet_Location_Type          0
Outlet_Type                   0
Item_Outlet_Sales             0
dtype: int64

#### 5.2 Removing Duplicates

In [13]:
# Dropping duplicate rows if any
df = df.drop_duplicates()

#### 5.3 Standardizing Column Names

In [14]:
# Renaming columns to lower case and replacing spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

## Step 6: Final Dataset Overview

In [15]:
# Checking the cleaned data
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1559 entries, 0 to 1558
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   item_identifier             1559 non-null   object
 1   item_weight                 1559 non-null   float64
 2   item_fat_content            1559 non-null   object
 3   item_visibility_percentage  1559 non-null   float64
 4   item_type                   1559 non-null   object
 5   item_mrp                    1559 non-null   float64
 6   outlet_identifier           1559 non-null   object
 7   outlet_establishment_year   1559 non-null   int64
 8   outlet_size                 1559 non-null   object
 9   outlet_location_type        1559 non-null   object
 10  outlet_type                 1559 non-null   object
 11  item_outlet_sales           1559 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 146.3+ KB

,item_identifier,item_weight,item_fat_content,item_visibility_percentage,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,FDA15,9.30,Low Fat,0.02,Dairy,249.81,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.14
1,DRC01,5.92,Regular,0.02,Soft Drinks,48.27,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.42
2,FDN15,17.50,Low Fat,0.02,Meat,141.62,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.27
3,FDX07,19.20,Regular,0.00,Fruits and Vegetables,182.10,OUT010,1998,Medium,Tier 3,Grocery Store,732.38
4,NCD19,8.93,Low Fat,0.00,Household,53.86,OUT013,1987,High,Tier 3,Supermarket Type1,994.71

## Step 7: Save the Cleaned Dataset

In [17]:
# Saving the cleaned dataset for Power BI analysis
df.to_excel('Cleaned_Blinkit_Dataset.xlsx', index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!